.hs-container {
    display: flex;
    flex-direction: column;
}

.hs-order-container {
    margin: 20px;
    padding:20px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    background: #317873;
    border-radius: 10px;
}

.hs-table-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

td, th{
    padding:10px;
    text-align: left;
    color:#317873;
}

td {
    font-size:25px;
}

thead {
    background-color: #dcf1de;
}

.hs-table{
    border-collapse:collapse;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: aliceblue;
}


