.item-list {
  background-color: #317873;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 20px 0;
  border-bottom: 1px hsl(176, 42%, 33%) solid;
}

.item-name {
  cursor: pointer;
}

.item-name svg {
  margin-left: 5px;
  margin-right: 5px;
}