.payment-list {
  margin-top: 15px;
  border-radius: 10px;
  padding-left: 20px;
  background-color: #317873;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 20px 0;
  border-bottom: 1px hsl(176, 42%, 33%) solid;
}

.payment-name {
  padding-top: 5px;
  cursor: pointer;
}

.payment-name svg {
  margin-left: 5px;
  margin-right: 5px;
}

.payment-button-container {
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 150px;
}

.payment-button {
  color: #317873;
}

.id-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: #317873;
  width: 100%;
  height: 30px;
}

.id-box {
  background: #dcf1de;
  color: #317873;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

input::placeholder {
  color: #317873;
}
input:focus {
  outline: 0;
}
